<% include ./partials/header.ejs %>

<p id="userId"><%=currentUser._id%></p>

<h2> hello userBooks.ejs!!!  </h2>

<ul class="user-books">
	<%var bookTitle1 =  JSON.stringify(currentUser.books[0].title)%>
	<%var bookAuthor1 =  JSON.stringify(currentUser.books[0].authors)%>
	<%var bookDescription1 =  JSON.stringify(currentUser.books[0].description)%>
	<%var bookThumbnail1 =  JSON.stringify(currentUser.books[0].smallThumbnail)%>

	<h2> Title  </h2>
	<li><%= bookTitle1 %></li>
	<h2> Author </h2>
	<li><%= bookAuthor1 %> </li>
	<h2> Description </h2>
	<li><%= bookDescription1 %> </li>
	<a><img href="bookThumbnail1"></a>
</ul>

<ul class="user-books2">
	<%var bookTitle2 =  JSON.stringify(currentUser.books[1].title)%>
	<%var bookAuthor2 =  JSON.stringify(currentUser.books[1].authors)%>
	<%var bookDescription2 =  JSON.stringify(currentUser.books[1].description)%>
	<%var bookThumbnail2 =  JSON.stringify(currentUser.books[1].smallThumbnail)%>

	<h2> Title  </h2>
	<li><%= bookTitle2 %></li>
	<h2> Author </h2>
	<li><%= bookAuthor2 %> </li>
	<h2> Description </h2>
	<li><%= bookDescription2 %> </li>
	<a><img href="bookThumbnail2"></a>
</ul>

<ul class="user-books3">
	<%var bookTitle3 =  JSON.stringify(currentUser.books[2].title)%>
	<%var bookAuthor3 =  JSON.stringify(currentUser.books[2].authors)%>
	<%var bookDescription3 =  JSON.stringify(currentUser.books[2].description)%>
	<%var bookThumbnail3 =  JSON.stringify(currentUser.books[2].smallThumbnail)%>

	<h2> Title  </h2>
	<li><%= bookTitle3 %></li>
	<h2> Author </h2>
	<li><%= bookAuthor3 %> </li>
	<h2> Description </h2>
	<li><%= bookDescription3 %> </li>
	<a><img href="bookThumbnail3"></a>
</ul>

<ul class="user-books4">
	<%var bookTitle4 =  JSON.stringify(currentUser.books[3].title)%>
	<%var bookAuthor4 =  JSON.stringify(currentUser.books[3].authors)%>
	<%var bookDescription4 =  JSON.stringify(currentUser.books[3].description)%>
	<%var bookThumbnail4 =  JSON.stringify(currentUser.books[3].smallThumbnail)%>

	<h2> Title  </h2>
	<li><%= bookTitle4 %></li>
	<h2> Author </h2>
	<li><%= bookAuthor4 %> </li>
	<h2> Description </h2>
	<li><%= bookDescription4 %> </li>
	<a><img href="bookThumbnail4"></a>
</ul>

<ul class="user-books5">
	<%var bookTitle5 =  JSON.stringify(currentUser.books[4].title)%>
	<%var bookAuthor5 =  JSON.stringify(currentUser.books[4].authors)%>
	<%var bookDescription5 =  JSON.stringify(currentUser.books[4].description)%>
	<%var bookThumbnail5 =  JSON.stringify(currentUser.books[4].smallThumbnail)%>

	<h2> Title  </h2>
	<li><%= bookTitle5 %></li>
	<h2> Author </h2>
	<li><%= bookAuthor5 %> </li>
	<h2> Description </h2>
	<li><%= bookDescription5 %> </li>
	<a><img href="bookThumbnail5"></a>
</ul>








   </main>
	<script src="js/app.js"></script>
	<script src="js/userBooks.js"></script>
  </body>
</html>